<!DOCTYPE html>
<html lan="zh" data-ublock-unblock>

<head>
    <title>GogogoHuang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <!--css-->
    <link rel='stylesheet' , href='../public/stylesheets/nav.css'>
    <link rel='stylesheet' , href='../public/stylesheets/style.css'>

    <link rel='stylesheet' , href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.6.0/venobox.css">
    <!--javascripts-->
    <script src="https://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>

    <script src="../public/javascripts/nav.js"></script>

    <script src="https://use.fontawesome.com/a81a531593.js"></script>
</head>
<html>

<div class="header">
    <h1>Huang JinZe</h1>
    <div class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>
</div>
<div class="overlay" id="overlay">
    <nav class="overlay-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
<section>
    <div class="about">
        <img src="../public/images/about.jpg">
        <div>
            <a href="https://www.flickr.com/gogogohuang" target="_blank">
                <i class="fa fa-camera-retro fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/gogogohuang" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
            </a>

        </div>
</section>

</html>