@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.header {
    top: 0;
    left: 0;
    float: 0;
    width: 30%;
    margin-top: 0;
    display: block;
}

.header h1 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.portfolioThumbs {
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    /*height: 20%;*/
    overflow: hidden;
}

.portfolioThumbs-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 50px;
    box-sizing: border-box;
    display: block;
}

.portfolioThumbs-img {
    width: 100%;
    margin: 9% 9% 0 9%;
    transition: 0.5s ease-out;
}

.portfolioThumbs-img:hover {
    opacity: 0.3;
}

.portfolioThumbs-titile {
    color: darkgray;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.pt-container {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

.portfolioContent {
    position: relative;
    width: 100%;
    display: none;
}

.portfolioContent-title {
    /*display: none;*/
    text-align: center;
    font-size: 0.8em;
}

.portfolioContent-images {
    position: relative;
    display: block;
    float: left;
    margin: 2% 7% 5% 7%;
}

.portfolioContent-images img {
    opacity: 1;
    /*width: 100%;*/
    display: block;
    height: 150px;
    overflow: hidden;
}

.portfolioContent-line {
    position: relative;
    bottom: 0;
    transform-origin: 0 100%;
    height: 2px;
    /* Line width of 3 */
    background: #000;
    /* Black fill */
}


}
@media (min-width: 768px) {
    .header {
        top: 0;
        float: 0;
        width: 30%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        display: block;
    }
}